{% block body %}
<br><br>
<p><i>What emotion can you hear in the above recording?</i></p>
<br>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp1" name="answers" checked/>
  <label class="form-check-label" for="inp1">Anger</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp2" name="answers"/>
  <label class="form-check-label" for="inp2">Sadness</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp3" name="answers"/>
  <label class="form-check-label" for="inp3">Happiness</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp4" name="answers"/>
  <label class="form-check-label" for="inp4">Surprise</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp5" name="answers"/>
  <label class="form-check-label" for="inp5">Fear</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp6" name="answers"/>
  <label class="form-check-label" for="inp6">Disgust</label>
</div>
<br>
{% endblock %}