{% block body %}
<br><br>
<p><i>Jaką emocję przedstawia powyższe nagranie?</i></p>
<br>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp1" name="answers" checked/>
  <label class="form-check-label" for="inp1">Zlosc</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp2" name="answers"/>
  <label class="form-check-label" for="inp2">Smutek</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp3" name="answers"/>
  <label class="form-check-label" for="inp3">Szczescie</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp4" name="answers"/>
  <label class="form-check-label" for="inp4">Zaskoczenie</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp5" name="answers"/>
  <label class="form-check-label" for="inp5">Lek</label>
</div>
<div class="form-check">
  <input type="radio" class="radio form-check-input" id="inp6" name="answers"/>
  <label class="form-check-label" for="inp6">Obrzydzenie</label>
</div>
<br>
{% endblock %}