{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>
<!-- note how items from the "static" folder are linked -->
<!--<img alt="Photo: Bengal Tiger" src="{{ url_for('static', filename='images/tiger.jpg') }}">-->
<p>Suppose you’re on a game show, and you’re given the choice of three doors: Behind one door is a car; behind the others, goats. You pick a door, say No. 1, and the host, who knows what’s behind the doors, opens another door, say No. 3, which has a goat. He then says to you, “Do you want to pick door No. 2?” Is it to your advantage to switch your choice? ~ (From Parade magazine’s Ask Marilyn column)</p>
<label>1.) Choose box (1-3)</label><br>
<label>2.) Leave or change the bet</label>
<br>
<div id="container2">
<button onclick="clickBox(this)" class="box" id="1">1</button><button onclick="clickBox(this)" class="box" id="2">2</button><button onclick="clickBox(this)" class="box" id="3">3</button>
</div>
<br>
<button class="btn btn-primary" id="simulate" onclick="simulate()" disabled>Simulate</button>
<button class="btn btn-dark" onclick="resetGame()">Reset</button>
<p id="result"></p>
<div style="display: flex;">
    <p>How many games won?</p>
    <p style="margin-left: 40px;" id="won-num">0</p>
</div>
<div style="display: flex;">
    <p>How many games played? </p>
    <p style="margin-left: 23px;" id="played-num">0</p>
</div>
<div style="display: flex;">
    <p>Percentage of won games:</p>
    <p style="margin-left: 23px;" id="won-percent">0%</p>
</div>

{% endblock %}
